body {
    cursor: default;
}

article .post-content img { max-width: 100%; }
article .post-content .imgContainer { height: auto; width: 150px; }​

article .post-content table {
}

article .post-content td, article .post-content th {
    border: 1px solid #ccc;
    padding: 8px 16px;
}

article .post-content {
    font-size: 1.1em;
    line-height: 1.6em;
}

#main-navbar {
    border-top: 4px solid #4a679a;
    font-size: 1em;
    /*font-weight: 600;*/
    text-transform: uppercase;
}

#main-navbar.navbar-inverse .navbar-nav>.active>a,
#main-navbar.navbar-inverse .navbar-nav>.active>a:focus,
#main-navbar.navbar-inverse .navbar-nav>.active>a:hover {
    background: #4a679a;
}

#main-navbar.fix-top {
    position: fixed;
    top: 0;
    z-index: 1000;
    padding-left: 26px;
    padding-right: 28px;
    width: 100%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s, transform 2s;
}

#main-navbar .nav-logo {
    position:absolute;
    left: 4px;
    margin-top:5px;
    opacity:0;
    transform: scale(0.7);
    transition: all .2s ease-in-out;
}

#main-navbar.fix-top .nav-logo {
    opacity:1.0;
    transition: opacity 0.2s, transform 0.4s;
    transform: scale(1.0);
}

#main-navbar.fix-top .nav>li>a {
    padding-top: 8px;
    padding-botom: 3px;
    transition: padding 0.2s;
}

#main-navbar.fix-top {
    min-height: 30px;
    transition: min-height 0.2s;
}

article.post {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    padding: 8px 16px;
}

div.post-content td, div.post-content th {
    padding: 8px 12px;
    border: 1px solid #eee;
}

#carousel-example-generic {
    background: black;
}

#carousel-example-generic .item {
    height: 320px;
    overflow: hidden;
}

#carousel-example-generic .item .carousel-caption {
    background: rgba(0, 0, 0, 0.3)
}

#carousel-example-generic .item img {
    width: 100%;
    opacity: 1.0;
    transform: scale(0.1);
    transition: all .2s ease-in-out;
}

#carousel-example-generic .item a {
    color: white !important;
}

#carousel-example-generic .item.active img {
    opacity: 1.0;
    transform: scale(1.2);
    transition: all .2s ease-in-out;
}

#carousel-example-generic .item.next img, #carousel-example-generic .item.prev img {
    opacity: 1.0;
    transform: scale(1.0);
    transition: all .2s ease-in-out;
}

/*
#carousel-example-generic .item.active img,
 #carousel-example-generic .item.next img,
  #carousel-example-generic .item.prev img{
    opacity: 1.0;
    transition: opacity 5.0s;
}
*/
