---
layout: page
---

<script>
document.location.href = 'https://twitter.com/kotlin_es';
</script>

<div class="home">
  {% if paginator.page == 1 %}
    {% include carousel.html %}
  {% endif %}

  <div id="pagination_content">
  {% include pagination.html %}


  {% include posts.html posts=paginator.posts %}

  {% include pagination.html %}
  </div>

<script type="text/javascript">
  function updatePaginationLinks() {
    $('#pagination_content .pagination a').click(function () {
      history.pushState({}, "Kotlin.es", this.href);

      $("#pagination_content").load(this.href + ' #pagination_content', function() {
        updatePaginationLinks();
        DISQUSWIDGETS.getCount();
      });
      return false;
    });
  }
  updatePaginationLinks();
</script>

</div>
