---
layout: page
---

<div class="home">
  {% if paginator.page == 1 %}
    {% include carousel.html %}
  {% endif %}

  <h1 class="page-heading">Posts</h1>

  <div class="row post-list">
    {% for post in paginator.posts %}
    <div class="post-list-entry col-xs-12 col-md-6">
        <div class="post-list-entry-content">
          {% if post.icon %}
          <img class="post-list-entry-icon" src="{{ post.icon }}" />
          {% endif %}
        <h2 class="post-list-entry-header">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <div class="post-list-entry-info">
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          {% assign postAuthorInfo = site.data.authors[post.author] %}
          {% if post.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name"><a href="{{ postAuthorInfo.web }}" target="_blank">{{ postAuthorInfo.name }}</a></span></span>{% endif %}
          • <a href="{{ post.url | prepend: site.baseurl }}#disqus_thread">0 Comentarios</a>
        </div>
        <p>{{ post.excerpt | strip_html | strip_newlines | truncate: 160 }}</p>
          <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-primary read-more-link">Leer más</a>
          </div>
      </div>
    {% endfor %}
  </div>

  <nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
      {% else %}
      <span aria-hidden="true" style="background:#fcfcfc;color:#777;">&laquo;</span>
      {% endif %}
    </li>
    {% for page in (1 .. paginator.total_pages) %}
      {% if page == paginator.page %}
        <li><span aria-hidden="true" style="background:#f7f7f7;color:#333;">{{ page }}</span></li>
      {% elsif page == 1 %}
        <li><a href="/">{{ page }}</a></li>
      {% else %}
        <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
      {% endif %}
    {% endfor %}
    <li>
      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
      {% else %}
      <span aria-hidden="true" style="background:#fcfcfc;color:#777;">&raquo;</span>
      {% endif %}
    </li>
  </ul>
</nav>

</div>
