---
layout: page
---

<div class="home">
  {% if paginator.page == 1 %}
    {% include carousel.html %}
  {% endif %}

  {% include pagination.html %}

  <div class="row post-list">
    {% for post in paginator.posts %}
    <div class="post-list-entry col-xs-12 col-md-6">
        <div class="post-list-entry-content">
          {% if post.icon %}
          <img class="post-list-entry-icon" src="{{ post.icon }}" />
          {% endif %}
        <h2 class="post-list-entry-header">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <div class="post-list-entry-info">
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          {% assign postAuthorInfo = site.data.authors[post.author] %}
          {% if post.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name"><a href="{{ postAuthorInfo.web }}" target="_blank">{{ postAuthorInfo.name }}</a></span></span>{% endif %}
          • <a href="{{ post.url | prepend: site.baseurl }}#disqus_thread">0 Comentarios</a>
        </div>
        <p>{{ post.excerpt | strip_html | strip_newlines | truncate: 160 }}</p>
          <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-primary read-more-link">Leer más</a>
          </div>
      </div>
    {% endfor %}
  </div>

  {% include pagination.html %}

</div>
