<div class="panel panel-warning">
  <div class="panel-heading">Versión preeliminar:</div>
  <div class="panel-body" style="background:#f8f8f8;">
    <p>Esta es una versión preeliminar. Para poder utilizarla en maven o en gradle, tienes que incluir el repositorio de gradle <strong><code>http://dl.bintray.com/kotlin/kotlin-eap-1.1</code></strong>:</p>
    <pre>
buildscript {
    ext.kotlin_version = '1.1-M04'

    repositories {
        maven { url "http://dl.bintray.com/kotlin/kotlin-eap-1.1" }
        mavenCentral()
    }
    dependencies {
        classpath "org.jetbrains.kotlin:kotlin-gradle-plugin:$kotlin_version"
    }
}
    </pre>
  </div>
</div>