<!--
<a href="https://twitter.com/kotlin_es" class="twitter-follow-button" data-show-count="false" data-lang="es" data-size="large">Seguir a @kotlin_es</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
-->

<aside>
    <a href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}" target="_blank" class="btn btn-success"><i class="fa fa-rss-square" style="font-size:1.1em;"></i> Feed RSS</a>
</aside>

<div style="height:320px;margin-top: 16px;">
    <aside id="twitter-follow-3" class="widget widget_twitter-follow clearfix">
        <div class="twitter-follow"><a href="https://twitter.com/intent/follow?screen_name=kotlin_es"
                                       class="twitter-follow-button" data-size="large">Follow @kotlin_es</a></div>
    </aside>

    <aside style="margin-top:16px;">
        <!-- Inserta esta etiqueta en la sección "head" o justo antes de la etiqueta "body" de cierre. -->
        <script type="text/javascript" id="twitter-wjs" async defer src="https://platform.twitter.com/widgets.js"
                charset="utf-8"></script>

        <!-- Inserta esta etiqueta en la sección "head" o justo antes de la etiqueta "body" de cierre. -->
        <script src="https://apis.google.com/js/platform.js" async defer>{lang: 'es'}</script>

        <!-- Inserta esta etiqueta donde quieras que aparezca widget. -->
        <div class="g-page" data-href="//plus.google.com/u/0/106409838381505161745" data-layout="landscape"
             data-rel="publisher"></div>
    </aside>

    <aside style="margin-top:16px;">
        <div class="fb-page" data-href="https://www.facebook.com/kotlin-es" data-small-header="true"
             data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"
             data-show-posts="false">
            <div class="fb-xfbml-parse-ignore">
                <blockquote cite="https://www.facebook.com/kotlin-es"><a href="https://www.facebook.com/kotlin-es">Kotlin
                    en español</a></blockquote>
            </div>
        </div>
    </aside>
</div>

<h3>Enlaces:</h3>
<div class="list-group">
    <a class="list-group-item" href="http://kotlinlang.org/"><i class="fa fa-home"></i> Página oficial (en inglés)</a>
    <a class="list-group-item" href="http://blog.jetbrains.com/kotlin/"><i class="fa fa-wordpress"></i> Blog oficial (en
        inglés)</a>
    <a class="list-group-item" href="https://github.com/JetBrains/kotlin"><i class="fa fa-github"></i> Kotlin en Github</a>
    <a class="list-group-item" href="http://try.kotlinlang.org/"><i class="fa fa-sticky-note-o"></i> Prueba Kotlin en el
        navegador</a>
    <a class="list-group-item" href="http://kotlinslackin.herokuapp.com/"><i class="fa fa-slack"></i> Kotlin en
        Slack</a>
    <a class="list-group-item" href="https://devnet.jetbrains.com/community/kotlin?view=discussions"><i
            class="fa fa-question"></i> Foros (en inglés)</a>
</div>

<h3><a href="/eventos">Próximos eventos</a></h3>

<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=200&amp;wkst=2&amp;hl=es&amp;bgcolor=%23FFFFFF&amp;src=f4efui4ol23pq3r7q435vutu20%40group.calendar.google.com&amp;color=%23853104&amp;ctz=Europe%2FMadrid" style="border-width:0" width="370" height="200" frameborder="0" scrolling="no"></iframe>
