<!--
<a href="https://twitter.com/kotlin_es" class="twitter-follow-button" data-show-count="false" data-lang="es" data-size="large">Seguir a @kotlin_es</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
-->
<aside id="twitter-follow-3" class="widget widget_twitter-follow clearfix">
    <div class="twitter-follow"><a href="https://twitter.com/intent/follow?screen_name=kotlin_es"
                                   class="twitter-follow-button" data-size="large">Follow @kotlin_es</a></div>
</aside>

<aside>
    <!-- Inserta esta etiqueta en la sección "head" o justo antes de la etiqueta "body" de cierre. -->
    <script type="text/javascript" id="twitter-wjs" async defer src="https://platform.twitter.com/widgets.js"
            charset="utf-8"></script>

    <!-- Inserta esta etiqueta en la sección "head" o justo antes de la etiqueta "body" de cierre. -->
    <script src="https://apis.google.com/js/platform.js" async defer>{lang: 'es'}</script>

    <!-- Inserta esta etiqueta donde quieras que aparezca widget. -->
    <div class="g-page" data-href="//plus.google.com/u/0/106409838381505161745" data-layout="landscape"
         data-rel="publisher"></div>
</aside>

<aside>
    <iframe id="facbook_like_box_1"
            src="http://www.facebook.com/v2.4/plugins/page.php?adapt_container_width=true&container_width=300&width=300&height=160&hide_cover=false&href=https%3A%2F%2Fwww.facebook.com%2Fkotlin.es&locale=es_ES&sdk=joey&show_facepile=true&show_posts=false&small_header=true"
            scrolling="no" allowTransparency="true"
            style="border:1px solid #FFF; overflow:hidden;visibility:hidden; max-width:500px; width:300px; height:160px;">
    </iframe>
    <script>
		if(typeof(jQuery)=="undefined")
			jQuery=window.parent.jQuery;
		if(typeof(like_box_animated_element)=="undefined")
			like_box_animated_element=window.parent.like_box_animated_element;
		if(typeof(like_box_set_width_cur_element)=="undefined")
			like_box_set_width_cur_element=window.parent.like_box_animated_element;
		jQuery(document).ready(function(){
			document.getElementById("facbook_like_box_1").style.visibility="visible"
			like_box_set_width_cur_element("facbook_like_box_1",300)
			});


    </script>
</aside>

<h3>Enlaces:</h3>
<div class="list-group">
    <a class="list-group-item" href="http://kotlinlang.org/"><i class="fa fa-home"></i> Página oficial (en inglés)</a>
    <a class="list-group-item" href="http://blog.jetbrains.com/kotlin/"><i class="fa fa-wordpress"></i> Blog oficial (en
        inglés)</a>
    <a class="list-group-item" href="https://github.com/JetBrains/kotlin"><i class="fa fa-github"></i> Kotlin en Github</a>
    <a class="list-group-item" href="http://try.kotlinlang.org/"><i class="fa fa-sticky-note-o"></i> Prueba Kotlin en el
        navegador</a>
    <a class="list-group-item" href="http://kotlinslackin.herokuapp.com/"><i class="fa fa-slack"></i> Kotlin en
        Slack</a>
    <a class="list-group-item" href="https://devnet.jetbrains.com/community/kotlin?view=discussions"><i
            class="fa fa-question"></i> Foros (en inglés)</a>
</div>
