<!--
<a href="https://twitter.com/kotlin_es" class="twitter-follow-button" data-show-count="false" data-lang="es" data-size="large">Seguir a @kotlin_es</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
-->

<aside>
    <div class="well">
        <a href="https://kotlinlang.org/#get-kotlin" style="font-size:1.3em;">Última versión de kotlin</a> <span
            class="badge">1.0.1-2</span>
    </div>

    <div class="row">
        <div class="col-xs-6 col-md-6">
            <a href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}" target="_blank"
               class="btn btn-success" style="width:100%;margin:4px 0;"><i class="fa fa-rss-square"
                                                                           style="font-size:1.1em;"></i>
                Feed RSS</a>
            <a href="https://plus.google.com/106409838381505161745" target="_blank" class="btn btn-danger"
               style="width:100%; margin:4px 0;"><i class="fa fa-google-plus" style="font-size:1.1em;"></i> Google+</a>
        </div>
        <div class="col-xs-6 col-md-6">
            <a href="https://twitter.com/intent/follow?screen_name=kotlin_es" target="_blank" class="btn btn-info"
               style="width:100%; margin:4px 0;"><i class="fa fa-twitter" style="font-size:1.1em;"></i> Seguir en
                twitter</a>

            <a href="https://www.facebook.com/kotlin.es/" target="_blank" class="btn btn-primary"
               style="width:100%; margin:4px 0;">
                <i class="fa fa-facebook" style="font-size:1.1em;"></i> Facebook
            </a>
        </div>
    </div>
</aside>

<h3><a href="/autores">Autores:</a></h3>
<aside>
    <div class="well">
        {% for author_pair in site.data.authors %}
        {% assign authorInfo = author_pair[1] %}
        <div style="padding:2px 0;">
            <img src="http://www.gravatar.com/avatar/{{ authorInfo.email_md5|downcase }}.jpg?s=16" width="16" height="16"/>
            <a href="{{ authorInfo.web }}" target="_blank">{{ authorInfo.name }}</a>
        </div>
        {% endfor %}

        <div style="margin-top:16px;">
        <a href="https://github.com/kotlin-es/kotlin-es.github.io" target="_blank" style="font-size:1.3em;">
            <i class="fa fa-pencil-square"></i> Publica tu artículo en kotlin.es
        </a>
        </div>
    </div>
</aside>

<h3>Enlaces:</h3>
<div class="well">
    <h4>Kotlin.es:</h4>

    <div class="list-group">
        <a class="list-group-item" href="https://github.com/kotlin-es/kotlin-es.github.io" target="_blank">
            <i class="fa fa-code-fork"></i> Repositorio del blog
        </a>
    </div>

    <h4>Kotlin:</h4>

    <div class="list-group">
        <a class="list-group-item" href="http://kotlinlang.org/" target="_blank">
            <i class="fa fa-home"></i> Página oficial
        </a>
        <a class="list-group-item" href="http://blog.jetbrains.com/kotlin/" target="_blank">
            <i class="fa fa-wordpress"></i> Blog oficial
        </a>
        <a class="list-group-item" href="https://github.com/JetBrains/kotlin" target="_blank">
            <i class="fa fa-github"></i> Kotlin en Github
        </a>
        <a class="list-group-item" href="http://try.kotlinlang.org/" target="_blank">
            <i class="fa fa-flask"></i> Prueba Kotlin en el navegador
        </a>
        <a class="list-group-item" href="http://kotlinslackin.herokuapp.com/" target="_blank">
            <i class="fa fa-slack"></i> Kotlin en Slack
        </a>
        <a class="list-group-item" href="https://devnet.jetbrains.com/community/kotlin?view=discussions"
           target="_blank">
            <i class="fa fa-question"></i> Foros
        </a>
    </div>
</div>
