---
layout: twocolumn
# https://github.com/Shopify/liquid/wiki/Liquid-for-Designers
---
{% assign authorInfo = site.data.authors[page.author] %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header" style="margin-bottom:32px;">
        <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>

        <p class="post-meta">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {{ page.date | date: "%b %-d, %Y" }}
            </time>

            {% if page.author %} •
    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
    	<span itemprop="name">
    		<a href="{{ authorInfo.web }}" target="_blank">
                <img src="http://www.gravatar.com/avatar/{{ authorInfo.email_md5|downcase }}.jpg?s=16" width="16" height="16"/>
                {{ authorInfo.name }}
            </a>
		</span>
	</span>
            {% endif %}

            • <a href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}#disqus_thread">0 Comentarios</a>
        </p>
    </header>

    <div class="post-content" itemprop="articleBody">
      {% if page.original %}
        <p><em><strong>NOTA:</strong> Este artículo es una traducción manual de <a href="{{ page.original }}" target="_blank">este otro artículo</a>.</em></p>
      {% endif %}

        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Kotlin posts -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="{% if authorInfo.adsense_client %}{{ authorInfo.adsense_client }}{% else %}ca-pub-3395905965441916{% endif %}"
             data-ad-slot="{% if authorInfo.adsense_slot %}{{ authorInfo.adsense_slot }}{% else %}4531796722{% endif %}"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <h3></h3>
        {% if page.icon%}<img src="{{ page.icon }}" class="post-entry-icon" />{% endif %}

        <div class="post-actual-content">
            {{ content }}
        </div>
    </div>

    {% if page.path %}
    <h3>Meta</h3>
    <ul>
        <li><a href="https://github.com/kotlin-es/kotlin.es/blob/master/{{ page.path }}" target="_blank"><i class="glyphicon glyphicon-zoom-in"></i> Ver markdown</a></li>
        <li><a href="https://github.com/kotlin-es/kotlin.es/edit/master/{{ page.path }}" target="_blank"><i class="glyphicon glyphicon-edit"></i> Editar</a></li>
    </ul>
    {% endif %}

    <h3>Comentarios</h3>


    <div id="disqus_thread"></div>
    <script>
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');

    s.src = '//kotlines.disqus.com/embed.js';

    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

</article>
